@media (max-width: 768px) {
	.feature-content {
		font-size: 15px;
	}
	.feature {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 20px;
	}
	.hamburger {
		display: block;
		cursor: pointer;
	}
	#logo {
		font-size: 20px;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav__list.active {
		left: 0;
		justify-content: center;
		align-items: center;
		align-content: center;
		font-size: 18px;
		width: 50%;
		margin-left: 12em;
		background-color: transparent;
	}
	.fixed_nav {
		font-size: 20px;
	}
	.nav__items {
		margin: 0 auto;
	}

	.nav__list {
		position: fixed;
		left: -100%;
		background-color: transparent;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
		justify-content: space-evenly;
		margin: 0 auto;
	}
	.nav__list li {
		padding: 0 0.3em;
	}

	.top-nav .container {
		flex-direction: column;
		font-size: 0.5em;
	}
	.top-nav {
		height: 5vh;
	}
	.hero-content {
		padding: 5em 0;
		font-size: 0.5em;
		margin: 0 1.5em;
		max-width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.hero {
		height: 75vh;
	}
	.hero-up-text {
		font-size: 0.4em;
		margin: 3em 1em;
	}
	.hero-content .btn {
		padding: 1.5em 3em;
	}
	.hero-content h1 {
		font-size: 5.2em;
	}
	.flex-centered {
		flex-direction: column;
		font-size: 15px;
	}
	.services-header {
		margin-bottom: 1em;
	}
	header {
		position: relative;
	}
	.services-card {
		display: flex;
		flex-direction: row;
		padding: 1em 2em;
		width: 100%;
		margin-top: 1em;
		text-align: center;
		font-size: 0.4em;
	}
	.services-card h2 {
		font-size: 3.5em;
		font-weight: bold;
	}
	.nav__list {
		max-width: 100%;
	}
	.services-up-text p {
		margin: 0 0 0 1em;
	}
	.services-card p,
	h2 {
		margin: 0.5em 0 0.5em;
	}

	.services-card i {
		width: 50%;
		height: auto;
		font-size: 10em;
	}
	.services-second .container {
		flex-direction: column;
	}
	.services-img img {
		max-width: 50vw;
	}
	.services-img {
		text-align: center;
		width: 100%;
		height: auto;
	}
	.services-second {
		height: 100%;
		background-size: cover;
	}
	.services-second .services-content {
		width: 100%;
	}
	.services-content-text p {
		margin: 0;
	}
}
